* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: #f6f888;
}


.card {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
    cursor:pointer;
}

.card-base{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}
#c1 .front,
#c1 .back{
    background-color: blue;
}

#c2 .front,
#c2 .back{
    background-color: red;
}

.front,
.back {
    /* background-color: white; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 1s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 1px solid white;
}

.back {
    z-index: 0;
}
#c2 .front-content{
    transition:1s ease;
}
.front-content,
.back-content {
    width: 100%;
    height: 100%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

#c1 {
    z-index: 2;
}

#c2 {
    z-index: 1;
}
